# Homework 4 - pandas (Lawrence Ray)  
### due 3/1/2022   

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your PATH is correct  

**import packages & check required datasets**

In [1]:
import os
import numpy as np
import pandas as pd

 Volume in drive C is OS
 Volume Serial Number is 04B1-C4B1

 Directory of C:\Users\lawre\OneDrive\Desktop\Bio_792

02/22/2022  03:40 PM    <DIR>          .
02/23/2022  05:05 PM    <DIR>          ..
02/19/2022  05:25 PM    <DIR>          .ipynb_checkpoints
02/24/2022  10:32 AM    <DIR>          Bio_792_Lawre_Homework
02/19/2022  05:25 PM            15,578 Bio_792_Lawre_Homework-Copy1.ipynb
02/19/2022  02:53 PM             2,919 Bloom_etal_2018_Reduced_Dataset.csv
02/22/2022  03:32 PM                80 Homework4-pandas.ipynb.url
02/22/2022  03:40 PM         2,683,954 states_covid.csv
               4 File(s)      2,702,531 bytes
               4 Dir(s)  301,699,022,848 bytes free

In [17]:
cd C:\\Users\\lawre\\OneDrive\\Desktop\\Bio_792\\

C:\Users\lawre\OneDrive\Desktop\Bio_792

In [19]:
assert os.path.exists(os.path.join('states_covid.csv')), 'states_covid.csv does not exist'

In [20]:
assert os.path.exists(os.path.join('Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)

In [24]:
state_covid_sub_df = pd.read_csv('states_covid.csv',
                                 usecols=['date','hospitalized','hospitalizedCumulative','hospitalizedCurrently','hospitalizedIncrease','inIcuCumulative','inIcuCurrently','onVentilatorCumulative','onVentilatorCurrently'],
                                 parse_dates=['date'],infer_datetime_format=True)
state_covid_sub_df.head()

,date,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
0,2021-02-23,1260.0,1260.0,38.0,9,NaN,NaN,NaN,5.0
1,2021-02-23,45250.0,45250.0,762.0,122,2632.0,NaN,1497.0,NaN
2,2021-02-23,14617.0,14617.0,545.0,47,NaN,204.0,1505.0,99.0
3,2021-02-23,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2021-02-23,57072.0,57072.0,1515.0,78,NaN,447.0,NaN,266.0

In [45]:
state_covid_df = pd.read_csv('states_covid.csv')
state_covid_df.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='object')

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in order.      
*hint*: sort_values, unique

In [65]:
state_covid_sub_df = pd.read_csv('states_covid.csv',
                                 usecols=['state','hospitalizedCurrently','inIcuCurrently','onVentilatorCurrently']
                                 ,infer_datetime_format=True)
print(state_covid_sub_df.sort_values)

<bound method DataFrame.sort_values of       state  hospitalizedCurrently  inIcuCurrently  onVentilatorCurrently
0        AK                   38.0             NaN                    5.0
1        AL                  762.0             NaN                    NaN
2        AR                  545.0           204.0                   99.0
3        AS                    NaN             NaN                    NaN
4        AZ                 1515.0           447.0                  266.0
...     ...                    ...             ...                    ...
20103    WA                    NaN             NaN                    NaN
20104    WA                    NaN             NaN                    NaN
20105    WA                    NaN             NaN                    NaN
20106    WA                    NaN             NaN                    NaN
20107    WA                    NaN             NaN                    NaN

[20108 rows x 4 columns]>

### Task 1.3 

Find the date in which each state crossed 1000 cumulative hospitilized covid patients

In [61]:
new_covid_question_three = state_covid_df[['date', 'state', 'hospitalized']]

#print(new_covid_question_three)

new_covid_question_three[new_covid_questoin_three.hospitalized > 1000]

             date state  hospitalized
0      2021-02-23    AK        1260.0
1      2021-02-23    AL       45250.0
2      2021-02-23    AR       14617.0
4      2021-02-23    AZ       57072.0
6      2021-02-23    CO       23293.0
...           ...   ...           ...
18797  2020-03-25    NY        5126.0
18853  2020-03-24    NY        4041.0
18909  2020-03-23    NY        3125.0
18965  2020-03-22    NY        2354.0
19021  2020-03-21    NY        1531.0

[9303 rows x 3 columns]

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [96]:
Be2018RD1 = new_covid_question_three = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')

Be2018RD1[['genus', 'species']] = Be2018RD1.taxa.str.split("_", n = 1, expand = True)

Be2018RD1.head()

,taxa,logbodysize,trophic_position,Reg,genus,species
0,Alosa_alabamae,1.707570,0.431364,diadromous,Alosa,alabamae
1,Alosa_alosa,1.778151,0.556303,diadromous,Alosa,alosa
2,Alosa_fallax,1.778151,0.556303,diadromous,Alosa,fallax
3,Alosa_mediocris,1.778151,0.612784,diadromous,Alosa,mediocris
4,Alosa_pseudoharengus,1.602060,0.544068,diadromous,Alosa,pseudoharengus

In [70]:
Be2018RD1.columns

Index(['taxa', 'logbodysize', 'trophic_position', 'Reg'], dtype='object')

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [109]:
Be2018RD2 = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv',
                                 usecols=['logbodysize','trophic_position']
                                 ,infer_datetime_format=True)

Sorted_frame = Be2018RD2.sort_values('logbodysize')

Be2018RD2.head()

print(Be2018RD2.mean(axis=0))

print(Sorted_frame)

logbodysize         1.041586
trophic_position    0.500737
dtype: float64
    logbodysize  trophic_position
6      0.301030          0.531479
19     0.397940          0.491362
47     0.447158          0.491362
43     0.477121          0.491362
23     0.602060          0.477121
42     0.672098          0.491362
17     0.698970          0.491362
26     0.698970          0.491362
7      0.778151          0.518514
35     0.778151          0.491362
12     0.778151          0.518514
13     0.792392          0.518514
34     0.838849          0.518514
8      0.845098          0.518514
44     0.845098          0.491362
11     0.845098          0.531479
16     0.857332          0.505150
15     0.857332          0.505150
40     0.903090          0.531479
27     0.903090          0.518514
24     0.903090          0.491362
9      0.903090          0.518514
41     0.903090          0.531479
37     0.929419          0.518514
22     0.954243          0.518514
10     0.963788          0.531479
45     0.973128          0.518514
29     1.000000          0.505150
46     1.000000          0.431364
33     1.000000          0.531479
31     1.000000          0.491362
49     1.041393          0.447158
18     1.064458          0.491362
38     1.079181          0.491362
14     1.093422          0.477121
36     1.113943          0.623249
21     1.113943          0.322219
28     1.190332          0.462398
20     1.342423          0.447158
32     1.387390          0.462398
39     1.505150          0.518514
30     1.544068          0.397940
25     1.544068          0.477121
4      1.602060          0.544068
0      1.707570          0.431364
48     1.778151          0.462398
3      1.778151          0.612784
2      1.778151          0.556303
1      1.778151          0.556303
5      1.790285          0.544068

Which genera is the smallest and largest?

In [114]:
first = Be2018RD1['genus']

print('smallest', first.min(axis=0))

print('largest', first.max(axis=0))

smallest Alosa
largest Thryssa

What is the trophic position of the smallest and largest?

In [115]:
first = Be2018RD1['trophic_position']

print('smallest', first.min(axis=0))

print('largest', first.max(axis=0))

smallest 0.322219295
largest 0.62324929

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [20]:
cd $PATH

/Users/trevorfaske/Desktop/Classes/DataScience/pandas/Spring22

In [21]:
!tar -xzf logfiles.tgz #unzip logfiles

In [22]:
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [23]:
!ls -l logfiles/*txt | wc -l

      36

In [24]:
logfiles = !find $log_dir -name '*txt' #unix command to find files in log_dir directory
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[1])

/Users/trevorfaske/g/Classes/DataScience/pandas/Spring22/logfiles/1901302121_H8_S_14.txt.txt

In [25]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [41]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

In [26]:
minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate 
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0] #use this for maxDate 
meanTemp =

SyntaxError: invalid syntax (<ipython-input-26-d888355c2242>, line 1)

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  
for f in logfiles:  
    #do something   
    #do not read date in as date object  
    #do more something   
    #do other stuff  
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

#### Here is an example of the final product

In [32]:
logfiles_df.head()

                     minTemp  maxTemp     minDate    maxDate   meanTemp
1901302235_H6_S_14      21.3     65.8   12/6/2013  7/13/2014  35.726191
1901302121_H8_S_14      17.9     73.4  10/28/2013  7/13/2014  34.698866
1901302217_H18_D_14     21.0     82.4  10/28/2013  7/26/2014  33.334564
1901302110_H13_S_14     22.8     60.9   10/4/2013  7/13/2014  32.240032
1901302146_H14_D_14     24.6     66.1   1/21/2014  7/13/2014  34.242075